<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Update Dog</title>
  </head>
  <body>
    <section id="button-section">
      <a href="../../dogs" class="btn">Home</a>
    </section>
    <h1>Update Information!</h1>
    <section id="formcontainer">
      <form action="/dogs/update/{{dog._id}}" method="post" class="inputform" enctype="multipart/form-data">
        <label for="dogName">Name:</label>
        <input id = "dogName" type="text" name="name" required value={{dog.name}}>
        <br>
        <label for="dogAge">Age:</label>
        <input id = "dogAge" type="text" name="age" required value={{dog.age}}>
        <br>
        <label for="dogPersonality">Personality Type:</label>
        <select name="personality" required>
          <option value="happy" {{happy}}>Happy</option>
          <option value="quiet" {{quiet}}>Quiet</option>
          <option value="energetic" {{energetic}}>Energetic</option>
          <option value="lazy" {{lazy}}>Lazy</option>
        </select>
        <br>
        <label for="dogDescription">Description</label>
        <textarea name="description" rows="10" cols="30" required>{{dog.description}}</textarea>

        <br>
        <label for="dogImage">Upload New Image:</label>
        <input type="file" name="dogImage" value="">
        <br>

        <label>Current Image:</label>
        <img src="{{dog.image}}" alt="" class="imgDisplayUpdate">
        <br>

        <input class="hidden" name="originalimg" value={{dog.image}}>

        <input type="submit" required class="btn" value="Save">
      </form>
    </section>
  </body>
</html>
